name: build-and-release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python 3.13.3
        uses: actions/setup-python@v5
        with:
          python-version: "3.13.3"

      - name: Build package
        shell: pwsh
        run: .\build\package.ps1

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: BilibiliCollectionsDownloader-windows
          path: dist/BilibiliCollectionsDownloader-windows.zip

      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: dist/BilibiliCollectionsDownloader-windows.zip
